/* first slider */

.slider {
    position: relative;
    width: 100%!important;
    height: 600px;
  }
.slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #F8F9FA;
}
.slide h2{
    font-family: Jost;
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.slide h3{
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    text-transform: unset;
    line-height: 1.5;
    text-align: center;

}
.dot{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: -30px;
    font-size: 10px;
    color: grey;
    cursor: pointer;
}

.slide button{
    width: 160px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    height: 50px;
    font-size: 11px;
    cursor: pointer;
    color: #ffffff;
}
.slide button:hover{
    border: none;
    background-color: rgb(247, 246, 246);
    color: rgb(12, 12, 12);
}
.slide h1{
    color: white;
    font-size: 55px;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
/* ////////////image section//////////////////// */


.img_section {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
.img_section .img{
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.img_text{
    width: 480px;
    height: 250px;
    right: 100px; 
    bottom: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
}
.img_section h1{
    font-size: 45px;
    width: 560px;
    font-weight: 600;
}
.img_section p{
    font-size: 18px;
    width: 560px;
}


.img_text button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border:1px solid white

}

.img_text button:hover{
    background-color: green;
    color: white;
    transition: 0.3s;
}


@media (max-width: 992px) {
    .img_section .img {
        height: 500px;
    }

    .img_text {
        width: 70%; 
        right: 15%; 
        bottom: 100px; 
    }

    .img_section h1 {
        font-size: 36px;
    }

    .img_section p {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .img_section {
        flex-direction: column;
        align-items: center;
    }

    .img_section .img {
        height: 300px;
    }

    .img_text {
        position: static; 
        width: 90%;
        padding: 20px; 
    }

    .img_section h1 {
        font-size: 28px;
    }

    .img_section p {
        font-size: 14px;
    }

    .img_text button {
        width: 30%;
    }
}


@media (max-width: 480px) {
    .img_section h1 {
        font-size: 24px;
    }

    .img_section p {
        font-size: 12px;
    }
}

/* ///////////////////Visit////////////////////////// */

.section_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 40px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.text_line{
    margin-top: 27px;
     height: 2px;
    background-color: #0cb288; 
    width:100px;
    display: flex;
    align-items: center;
    text-align: center;
}


/* ////////////promo section///////// */

.promo-container {
    display: flex;
    gap: 4%;
    height: 350px;
    margin: 50px 70px;
    justify-content: center;
    position: relative;
}

.promo-left, .promo-right {
    width: 48%; 
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}
.promo-left {
    background-image: url("https://fone-store-demo.myshopify.com/cdn/shop/files/ba5.jpg?v=1660639875");
}
.promo-right {
    background-image: url("https://fone-store-demo.myshopify.com/cdn/shop/files/ba6.jpg?v=1660639875");
}
.promo-title {
    font-size: 30px;
}


.promo-overlay {
    width: 100%;
    height: 350px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: -350px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    background-color: white;
}
.promo-left:hover .promo-overlay, 
.promo-right:hover .promo-overlay {
     top: 30px;
    opacity: 0.3;
}
.promo-content{
    align-items: start;
    display: flex;
    gap: 11px;
    margin-left: 8%;
    display: flex;
    flex-direction: column;

}
.promo-content h3{
    font-weight: 500;
    line-height: 1.2;
    font-size: 30px;
    margin-bottom: 15px;
}
a.cta-button {
    border-bottom: 2px solid black;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    transition: all .3s;
    padding-bottom: 5px;
    line-height: 24px;
    margin-top: 10px;
    color: #000;

}

a.cta-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0; 
    height: 2px;
    background-color: green; 
    color:green;
    transition: width 0.5s ease-in-out;
}
a.cta-button:hover{
    border-bottom: none; 
    outline: none; 
    color: green;
}

a.cta-button:hover::after {
    width: 100%; 
    border-bottom: none; 
    outline: none;
    color: green;
}





/* information section */

.info{
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.info-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 10px 15px 10px;
    background-color: white;
    height: 160px; 
    gap: 5px;
}

.info-context svg{
    font-size: 28px;
}
.info-context h1{
    color: gray;
    font-size: 11px;
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}
.info-context p{
   font-size: 15px;
    color: #b3b3b3;
}
/* ///////////////////////////slide and info section respons///////////////////////////////////////// */

@media (min-width: 996px) {
   
    .slide h1 {
      font-size: 55px;
    }
  
    .slide button {
      width: 160px;
      height: 50px;
    }
  }
  
 
  @media (max-width: 995px) {
    .slide {
      gap: 25px;
    }
  
    .slide h1 {
      font-size: 45px; 
    }
  
    .slide button {
      width: 150px;
      height: 45px; 
    }
  
    .info {
      flex-direction: row; 
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .info-context {
      flex-basis: 45%; 
      margin: 10px; 
    }
  }
  
  
  @media (max-width: 768px) {
    .slide h1 {
      font-size: 1.5rem; 
    }
  
    .info-context {
      flex-basis: 100%; 
    }
  }
  
  
  @media (max-width: 480px) {
    .slide h1 {
      font-size: 1.2rem; 
    }
  
    .info {
      flex-direction: column; 
      align-items: center;
    }
  }
  /* ////////////////////////////////////////////////// */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 80px;
    margin-bottom: 100px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.card h4{
    cursor: pointer;
    color: #000000;
    font-family: "Libre Baskerville", serif;
    font-size: 18px;

}
.card img{
    width: 320px;
    cursor: pointer;
    height: 450px;
}
.card img:hover{
    transform: scale(1.04);
}

.price{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
}
.price button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #0fb78d;
    color: white;
    cursor: pointer;
}
.price button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.men-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.men{
    background-image: url("https://preview.colorlib.com/theme/product/images/hero_bg_1.jpg.webp");
    width: 75%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.men-info{
    width: 47%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    gap: 8px;
    background-color: white;
    font-family: "Libre Baskerville", serif;
}
.men-info p{
    font-family: "Muli", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    font-size: 14px;
    color: #333;
}
.men-info button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}


@media only screen and (max-width: 995px) {
    .men {
        height: 700px; 
        background-size: cover; 
        background-position: center center; 
    }
    .men-info {
        width: 90%; 
    }
}

@media only screen and (max-width: 768px) {
    .men {
        padding: 10px;
    }
    .card img{
        width: 240px;
        height: 340px;
    }
}

@media only screen and (max-width: 600px) {
     .card img{
        width: 180px!important;
        height: 250px!important;
    }
    .card h4{
        font-size: 12px;
    }
    .men {
        background-position: center center; 
    }
    .men-info {
        width: 95%; 
    }
}

@media only screen and (max-width: 480px) {
    .men-info {
        height: auto; 
        padding: 20px; 
    }
}

/* ///////////////////////////second slider/////////// */


.slider-item {
    height: 480px; 
    background-size: cover; 
    background-position: center; 
  }
  .slider-info {
    background-color: rgba(255, 255, 255, 0.5); 
    color: #000; 
    padding: 10px; 
    text-align: center; 
  }
  
  
  
  .slider-info h5, .slider-info p {
    margin: 0; 
  }
.slider-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.headSlider{
    display: flex;
    flex-direction: column; 
    text-align: center;
    width: 76%; 
}
.sliderArrow{
    right: 30px;
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
.sliderArrow svg{
    cursor: pointer;
    width: 16px;
    height: 16px;
    color: gray;
    border: 1px solid gray;
    padding: 5px;

    border-radius: 100%;
}

.sliderForma{
    width: 76%;
    display: flex;
    gap: 40px;
}
.slider-items{
    transition: 0.7s;
}
.dot2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 10px;
    color: grey;
    cursor: pointer;
}
@media only screen and (min-width: 991px) and (max-width: 1280px) {
    .sliderForma {
        display: flex;
        overflow-x: hidden; 
        width: 90%; 
    }

    .slider-items {
        width: 100%; 
        box-sizing: border-box;
    }

    .slider-item {
        width: 100%; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
    }

    
}


@media only screen and (max-width: 991px){
    .slider-items:last-child{
        display: none;
    }
}

@media only screen and (max-width: 777px){
    .slider-items{
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .slider-items:nth-child(2n){
        display: none;
    }
}

